@model WebSiteNew.Models.SimpleMessage
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(m => m.Message)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Message)
            </div>
            <p>
                <input type="submit" value="Send" />
            </p>
        </fieldset>
    </div>
}